<h1>All songs</h1>

<% @songs.each do |song| %>
  <%= song.title %>
  <%= song.try(:artist).try(:name) %>
  <%= song.try(:genre).try(:name) %>
  <ul>
    <% song.try(:notes).try :each do |note| %>
      <li><%= note.content %></li>
    <% end %>
  </ul>

<% end %>
